<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Andy Russell's personal web site. Full-stack software developer at Amazon Robotics.">
    <link href="./styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Rubik|Source+Code+Pro&display=swap" rel="stylesheet">
    <title>Andy Russell | acrussell.com</title>
  </head>
  <body>
    {{{ this }}}
  </body>
</html>
